@font-face {
  font-family: "MyFontBook";
  src: url("/HALFourGroteskUnlicensed-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MyFontMonoRegular";
  src: url("/HALTimezoneUnlicensed-MonoRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MyFontRegular";
  src: url("/HALTimezoneUnlicensed-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.photo-credits span {
    font-family: 'Work Sans';
    font-size: 12px;
}

.type-text {
  font-family: MyFontRegular, serif !important;
}
h1, .type-heading, .type-title {
  font-family: MyFontBook, serif !important;
}